.wd-register-header {
    color: #158CBA;
}

.wd-register-button {
    margin-bottom: 50px;
}

.wd-corner-logo {
    text-decoration: none;
}

.wd-radio-buttons {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 40%
}